<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


  <head>
    <!--<meta charset="ISO-8859-1">-->
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container text-center">
      <div>
        <form th:action="@{/logout}" method="post">
          <p>
            Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
          </p>
          <input type="submit" value="Sign Out" />
        </form>
      </div>
      <div>
        <h1>List of Items</h1>
      </div>

      <div>
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>User ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Count</th>
              <th>Prize</th>
              <th>Add To Cart</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item: ${listItems}">
              <td th:text="${item.id}">User ID</td>
              <td th:text="${item.name}">Name</td>
              <td th:text="${item.descr}">Description</td>
              <td th:text="${item.countItem}"></td>
              <td th:text="${item.prize}">Prize</td>
              <td>
                <a th:href="${'/users/cart/'+item.id}" class="btn btn-primary" role="button">Add To Cart</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <h1>List of Booking</h1>
        <p th:text="${listPrize}"></p>
      </div>

      <div>
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Item ID</th>
              <th>Item Count</th>
              <th>Date</th>
              <th>Prize</th>
              
              <th>Total Prize</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Pay</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${booking.idUser == #request.userPrincipal.principal.id  && booking.paying == 0}" th:each="booking: ${listBookings}">
              <td th:text="${booking.id}"></td>
              <td th:text="${booking.idItem}"></td>
              <td th:text="${booking.itemAdd}"></td>
              <td th:text="${booking.dateAdd}"></td>
              <td th:text="${booking.prizeBooking}"></td>
              
              <td th:text="${booking.prizeAll}"></td>
              <td>
                <a th:href="${'/users/edit/' + booking.idItem + '/' + booking.id}" class="btn btn-primary" role="button">Edit</a>
              </td>
              <td>
                <a th:href="${'/users/delete/' + booking.id}" class="btn btn-primary" role="button" onclick="return confirmDelete();">Delete</a>
              </td>
              <td>
                <a th:href="${'/users/pay/' + booking.id + '/' + booking.idItem + '/' + booking.itemAdd}" class="btn btn-primary" role="button" onclick="return confirmDelete();">Pay</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div>
        <h1>List of Paying</h1>
        <p th:text="${listPrize}"></p>
      </div>
      <div>
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Paying</th>
              <th>Your ID Paying</th>
            </tr>
          </thead>
          <tbody>
            <tr th:if="${booking.idUser == #request.userPrincipal.principal.id  && booking.paying == 1}" th:each="booking: ${listBookings}">
              <td>The order has been received with a register number</td>
              <td th:text="${booking.id}" ></td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
    <script type="text/javascript" th:src="@{/Delete.js}"></script>
  </body>
</html>